RewriteEngine On

# Redirect root URL to /src/generator/index.html
RewriteRule ^$ /src/generator/index.html [L]

# Redirect /downloads to /src/download
RewriteRule ^downloads/?$ /src/download/index.html  [L]

# Redirect /admin to /src/admin
RewriteRule ^admin/?$ /src/admin/index.php [L]