body {
  font-family: Arial, sans-serif;
}

#xml-output {
  white-space: pre;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.remove-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  min-width: 65px;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #9b0000;
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  height: 10px;
  line-height: 10px;
}

input[type="text"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:invalid {
  border-color: #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

input[type="text"] + input[type="text"] {
  margin-left: 20px;
}

form > div {
  margin-bottom: 0px;
}

form > div > input[type="text"] {
  min-width: 50%;
  width: calc(100% - 100px);
}

#xml-output {
  overflow-y: auto; /* Add a scrollbar when the content overflows */
  overflow-x: auto;
  margin-top: 10px; /* Add some space between the buttons and the <pre> element */
  max-height: 90vh;
}