/* Buttons */

.button {
  background-color: #666; /* Dark gray background */
  border: none;
  border-radius: 5px;
  color: #fff; /* White text */
  cursor: pointer;
  margin: 5px;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button:disabled {
  background-color: #333; /* Dark gray background when disabled */
  cursor: not-allowed;
}

.button:hover {
  background-color: #555; /* Darker gray background on hover */
}

.download-button {
  background-color: #333;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.download-button:hover {
  background-color: #555; /* add a nice hover effect */
}

.github-button {
  border-radius: 3px; /* reduce border radius */
  display: inline-block;
  font-size: 18px; /* reduce font size */
  margin-left: 10px;
  padding: 5px; /* reduce padding */
  transition: opacity 0.2s ease-in-out;
}

.github-button:hover {
  opacity: 0.6;
}

.github-button i {
  background-color: #323232;
  border-radius: 50%; /* reduce border radius */
  color: #fff; /* White text for the icon */
  font-size: 20px; /* reduce font size */
  padding: 5px; /* reduce padding */
}

.remove-button {
  background-color: chocolate; /* Dark red background */
  border: none;
  border-radius: 5px;
  color: #fff; /* White text */
  cursor: pointer;
  font-size: 10px;
  min-width: 65px;
  padding: 5px;
}

.remove-button:hover {
  background-color: rgb(141, 72, 22);
}

.theme-button {
  background-color: #fff; /* White background */
  border: none;
  color: #333; /* Dark gray text */
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.theme-button:hover {
  background-color: #eee; /* Light gray background on hover */
}
