body {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #212121;  /* Dark gray background */

  transition: background-color 0.5s; /* Add transition effect */
}

header {
  padding: 10px;
  text-align: center;
  color: #fff; /* White text for the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-button {
  background-color: #fff; /* White background */
  color: #333; /* Dark gray text */
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.theme-button:hover {
  background-color: #eee; /* Light gray background on hover */
}

#xml-output {
  white-space: pre;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #333; /* Dark gray border */
  background-color: #444; /* Dark gray background */
  color: #fff; /* White text */
  overflow-y: auto; /* Add a scrollbar when the content overflows */
  overflow-x: auto;
  margin-top: 10px; /* Add some space between the buttons and the <pre> element */
  max-height: 90vh;
}

h1 {
  color: chocolate;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #666; /* Dark gray background */
  color: #fff; /* White text */
  cursor: pointer;
}

.button:hover {
  background-color: #555; /* Darker gray background on hover */
}

.button:disabled {
  background-color: #333; /* Dark gray background when disabled */
  cursor: not-allowed;
}

.remove-button {
  background-color: #900; /* Dark red background */
  color: #fff; /* White text */
  border: none;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  min-width: 65px;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #800; /* Darker red background on hover */
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  border: 1px solid #333; /* Dark gray border */
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  height: 10px;
  line-height: 10px;
  background-color: #444; /* Dark gray background */
  color: #fff; /* White text */
}

input[type="text"]:focus {
  border-color: #555; /* Darker gray border on focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #666; /* Dark gray placeholder text */
}

input[type="text"]:invalid {
  border-color: #900; /* Dark red border on invalid input */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

input[type="text"] + input[type="text"] {
  margin-left: 20px;
}

input[required]:invalid {
  border: 1px solid chocolate;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

form > div {
  margin-bottom: 0px;
}

form > div > input[type="text"] {
  min-width: 50%;
  width: calc(100% - 100px);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  height: 20px; /* set a fixed height */
  display: flex; /* add flexbox */
  justify-content: space-between; /* space out the content */
  align-items: center; /* center the content vertically */
}

.terms-button {
  margin-right: 10px; /* reduced margin */
  background-color: #555; /* dark gray background */
  border: none;
  padding: 5px 10px;
  font-size: 12px; /* reduced font size */
  cursor: pointer;
  border-radius: 5px;
}

.terms-button a {
  color: #fff;
  text-decoration: none;
}

.terms-button:hover {
  background-color: #666; /* darker gray background on hover */
}

.tooltip {
  position: absolute;
  background-color: #fff;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 13px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.download-button:hover {
  background-color: #555; /* add a nice hover effect */
}
