.terms-button {
  margin-right: 10px; /* reduced margin */
  background-color: #555; /* dark gray background */
  border: none;
  padding: 5px 10px;
  font-size: 12px; /* reduced font size */
  cursor: pointer;
  border-radius: 5px;
}

.filesp {
  margin: 10px;
}

.terms-button a {
  color: #fff;
  text-decoration: none;
}

.terms-button:hover {
  background-color: #666; /* darker gray background on hover */
}

.button-container {
  display: flex; /* Add flexbox to the button container */
  justify-content: flex-end; /* Align items to the right */
  margin-bottom: 20px; /* Add some margin below the button */
}

/* Enhanced download button with gradient background */
#download-all-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: #ffffff; /* White text */
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect */
}

#download-all-button:hover {
  background: linear-gradient(90deg, #0056b3, #003f7f);
}

#download-all-button:disabled {
  background-color: #999; /* Gray background when disabled */
  cursor: not-allowed;
}

.container {
  margin-top: 20px; /* Add margin to separate the button from the file list */
}

#file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#file-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between files */
}

#file-list li:last-child {
  border-bottom: none;
}

#file-list button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Add this line */
}

#file-list button:hover {
  background-color: #3e8e41; /* Darker green background on hover */
}

#file-list span {
  font-weight: bold;
  color: #fff; /* White text */
  margin-right: 10px;
  display: inline-block;
  width: 150px;
  text-align: left;
}

#file-list .file-name {
  font-weight: bold;
  color: #fff; /* White text */
  margin-right: 30px;
  width: 150px;
  text-align: left;
}

#file-list .file-date {
  font-size: 0.8em;
  color: #999; /* Light gray text */
  margin-right: 10px; /* Add some margin to the right */
}

#file-list .file-creator {
  font-size: 0.8em;
  color: #666; /* Darker gray text */
  margin-right: 10px; /* Add some margin to the right */
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 13px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.download-button:hover {
  background-color: #555; /* add a nice hover effect */
}
